/*******************************************************************************************************************************
-------------------------------------------------------nav bar------------------------------------------------------------------
*******************************************************************************************************************************/
nav {
    position: sticky;
    top: -10px;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    height: 70px;
    box-shadow: 0px 6px 10px 0px rgba(85, 85, 85, 0.2);
    z-index: 10;
}
/*site logo ------------------------------------------------------------------------------------------------------------------*/
nav #siteLogoContainer {
    /*background-color: blue;*/
    font-family: 'Baloo 2', cursive;
    width: 20vw;
    position: relative;
}
nav #siteLogoContainer #siteLogo {
    position: relative;
    left: 2vw;
    top: 12px;
    font-size: 40px;
    transition: all 0.3s ease-out;
}
nav #siteLogoContainer a {
    text-decoration: none;
    color: rgba(65, 65, 65, 0.8);
    font-weight: bold;
}
nav #siteLogoContainer a:hover {
    color: rgba(2, 2, 2, 0.8);
}
nav #siteLogoContainer a:active {
    transform: scale(0.9);
}
/*nav items-------------------------------------------------------------------------------------------------------------------*/
nav #navItemsContainer {
    /*background-color: blueviolet;*/
    position: relative;
    width: 70vw;
    display: flex;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;
}
nav #navItemsContainer .navItems {
    position: relative;
    /*background-color: coral;*/
    display: inline-flex;
    font-size: 20px;
    margin-right: 50px;
    top: 12px;
}
nav #navItemsContainer a {
    text-decoration: none;
    text-transform: capitalize;
    color: rgba(43, 43, 43, 0.904);
    transition: all 0.2s ease-in-out;
}
nav #navItemsContainer a:hover {
    color: rgb(0, 0, 0);
}
nav #navItemsContainer a:active {
    transform: scale(0.9);
}
/*user logo--------------------------------------------------------------------------------------------------------------------*/
nav #userLogoContainer {
    /*background-color: brown;*/
    width: 10vw;
    position: relative;
}
nav #userLogoContainer #userImage {
    position: relative;
    margin: 0px 2vw;
    top: 15px;
    font-size: 30px;
    height: 40px;
    border-radius: 9px;
    box-shadow: 0px 3px 6px 1px rgba(46, 46, 46, 0.308);
    transition: all 0.3s ease-in-out;
}
nav #userLogoContainer #userImage:hover {
    transform: scale(1.15);
    box-shadow: 0px 2px 4px 1px rgba(46, 46, 46, 0.2);
}
nav #userLogoContainer #userImage:active {
    transform: scale(0.9);
}
/*******************************************************************************************************************************
------------------------------------------------------login form----------------------------------------------------------------
*******************************************************************************************************************************/
#loginForm {
    z-index: 15;
    width: 60vw;
    height: 60vh;
    position: sticky;
    margin: auto;
    top: 20vh;
    background-color: cadetblue;
}
/*******************************************************************************************************************************
-------------------------------------------------------main body----------------------------------------------------------------
*******************************************************************************************************************************/
#mainBody{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}
/*******************************************************************************************************************************
-----------------------------------------------upcoming hackathons--------------------------------------------------------------
*******************************************************************************************************************************/
#hackathons {
    min-height: 600px;
    display: inline-block;
    /*background-color: blanchedalmond;*/

}
#hackathons .cardHolder {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#hackathons .cardHolder .hackathonCards {
    height: 400px;
    width: 300px;
    margin: 30px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}
.frontFace, .backFace {
    height: 100%;
    width: 100%;
    border-radius: 9px;
    box-shadow: 0px 5px 10px 3px rgba(54, 54, 54, 0.3);
    text-align: center;
    justify-content: center;
    backface-visibility: hidden;
    overflow: hidden;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform .7s cubic-bezier(.4, .2, .2, .1);
}
.frontFace .hackathonPoster {
    height: 60%;
    overflow: hidden;
    perspective: 100px;
}
.frontFace .hackathonPoster .posterImg {
    height: 200px;
    margin: 20px;
    transform: scale(2);
}
.frontFace .nameHolder {
    height: 40%;
    background-color: rgba(65, 65, 65, 0.5);
    color: aliceblue;
    display: flex;
    text-align: center;
    justify-content: center;position: relative;
    perspective: 100px;
}
.frontFace .nameHolder .hackathonName {
    font-family: 'Baloo 2', cursive;
    position: absolute;
    bottom: 50px;
    font-size: 35px;
}
.hackathonCards .backFace {
    transform: rotateY(180deg);
    background:linear-gradient(135deg, #65799b 0%,#5e2563 100%);
    color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}
.hackathonCards .backFace .backFaceText {
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    perspective: 100px;
    transition: all 0.5s ease-in-out;
    margin: auto;
}
.hackathonCards .backFace a {
    color: antiquewhite;
    text-decoration: none;
}
.hackathonCards .backFace .backFaceText .backFaceLinks {
    font-size: 30px;
    color: gainsboro;
}
.hackathonCards .backFace .backFaceText .backFaceLinks:hover {
    color: whitesmoke;
    text-shadow:0px 0px 40px whitesmoke;
}
.hackathonCards .backFace .backFaceText .backFaceLinks:active {
    color: whitesmoke;
    transform: scale(0.9);
}
.hackathonCards .backFace .backFaceSocialIcons .fa{
    font-size: 40px;
    margin: 20px;
    transition: all .1s ease-in-out;
    perspective: 100px;
}
.hackathonCards .backFace .backFaceSocialIcons .fa:hover {
    transform: scale(1.2);
}
.hackathonCards .backFace .backFaceSocialIcons .fa:active {
    transform: scale(0.9);
}
.hackathonCards:hover > .frontFace{
    transform: rotateY(-180deg);
}
.hackathonCards:hover > .backFace{
    transform: rotateY(0deg);
}
/*******************************************************************************************************************************
-------------------------------------------------------featured-----------------------------------------------------------------
*******************************************************************************************************************************/
#featured {
    /*background-color: turquoise;*/
    display: inline-flex;
    margin: 20px 30px;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: flex-start;
}
#featured .featurePosts {
    min-height: 500px;
    width: 400px;
    margin: 15px;
    position: relative;
    box-shadow: 0px 5px 15px 1px rgba(100, 100, 100, 0.5);
    border-radius: 10px;
    background-color: azure;
}
#featured .featurePosts .featurePoster {
    height: 300px;
    text-align: center;
    overflow: hidden;
}
#featured .featurePosts .featurePoster .featureImg {
    height: 300px;
    width: fit-content;
    margin-left: -3vw;
}
#featured .featurePosts .featureDescriptionDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}
#featured .featurePosts .featureDescriptionDiv .featureName {
    text-align: center;
    font-family: 'Baloo 2', cursive;
    font-size: 50px;
    /*background-color: lightcoral;*/
    margin: auto;
    color: rgba(29, 29, 29, 0.835);
}
#featured .featurePosts .featureDescriptionDiv .featureDescription {
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    text-transform: lowercase;
    font-size: 20px;
    margin: auto;
}
#featured .featurePosts .featureDescriptionDiv .featureRegister {
    text-align: center;
    width: 100%;
    background: transparent;
    border: none;
    margin: 0px;
    font-size: 30px;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
}
#featured .featurePosts .featureDescriptionDiv .featureRegister a{
    text-decoration: none;
    color: rgb(90, 90, 90);
}
#featured .featurePosts .featureDescriptionDiv .featureRegister a:hover {
    color: rgb(51, 51, 51);
    text-shadow: 0px 0px 20px rgba(70, 70, 70, 0.603);
}
#featured .featurePosts .featureDescriptionDiv .featureSocialIcons {
    text-align: center;
    font-size: 40px;
    margin: auto;
    /*background-color: hotpink;*/
}
#featured .featurePosts .featureDescriptionDiv .featureSocialIcons .fa {
    color: rgba(34, 34, 34, 0.801);
}
#featured .featurePosts .featureDescriptionDiv .featureSocialIcons .fa:hover {
    color: rgb(34, 34, 34);
}
#featured .featurePosts .featureDescriptionDiv .featuredWord {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: blueviolet;
    width: 100%;
    font-size: 25px;
    text-align: center;
    color: antiquewhite;
    margin: auto;
}
/*******************************************************************************************************************************
-------------------------------------------------------footer area--------------------------------------------------------------
*******************************************************************************************************************************/
.footerClass {
    width: 100%;
    min-height: 250px;
    background-color: rgba(65, 65, 65, 0.8);                    /*for testing*/
    color: antiquewhite;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
/*about info div--------------------------------------------------------------------------------------------------------------*/
.footerClass .about-info {
    min-width: 300px;
    height: inherit;
    position: relative;
    flex-grow: 2;
    flex-shrink: 2;
    display: inline-block;
    /*background-color: rgb(128, 119, 0);*/                      /*for testing*/
    color: antiquewhite;
}
/*best place to organize hackathon text ***************************************************************************************/
#bestPlaceText {
    font-size: 35px;
    text-align: left;
    position: relative;
    left: 4vw;
}
/*community div---------------------------------------------------------------------------------------------------------------*/
.footerClass .community {
    min-width: 200px;
    height: inherit;
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    display: inline-block;
    justify-content: center;
    text-align: center;
    /*background-color: rgb(70, 33, 54);*/                       /*for testing*/
}
/*support div-----------------------------------------------------------------------------------------------------------------*/
.footerClass .support {
    min-width: 200px;
    height: inherit;
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    display: inline-block;
    justify-content: center;
    text-align: center;
    /*background-color: hotpink;*/                    /*for testing*/
}
/*footer div titles-----------------------------------------------------------------------------------------------------------*/
.footerTitles {
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
}
/*footer div texts------------------------------------------------------------------------------------------------------------*/
.footerText {
    font-size: 20px;
    overflow: hidden;
}
/*footer div text links-------------------------------------------------------------------------------------------------------*/
.footerText a {
    text-decoration: none;
    color: aliceblue;
    overflow: hidden;
}
.footerText a:hover {
    color: black;
}
/*footer div social media icons-----------------------------------------------------------------------------------------------*/
.support .socialMediaIcons {
    font-size: 30px;
}
.support .socialMediaIcons .fa {
    color: rgb(185, 185, 185);
}
.support .socialMediaIcons .fa:hover {
    color: white;
}
/*******************************************************************************************************************************
-------------------------------------------------------media query--------------------------------------------------------------
*******************************************************************************************************************************/
/*for nav section-------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width : 650px) {
    nav #siteLogoContainer {
        width: 25vw;
    }
    nav #siteLogoContainer #siteLogo {
        font-size: 35px;
    }
    nav #navItemsContainer {
        width: 60vw;
    }
    nav #navItemsContainer .navItems {
        font-size: 15px;
        margin-right: 4vw;
    }
    nav #userLogoContainer {
        width: 15vw;
    }
}
@media screen and (max-width : 400px) {
    nav #siteLogoContainer {
        width: 30vw;
    }
    nav #siteLogoContainer #siteLogo {
        font-size: 30px;
    }
    nav #navItemsContainer {
        width: 55vw;
    }
    nav #navItemsContainer .navItems {
        font-size: 13px;
        margin-right: 2vw;
    }
    nav #userLogoContainer {
        width: 15vw;
    }
}
@media screen and (max-width : 350px) {
    nav #navItemsContainer .navItems {
        font-size: 10px;
        margin-right: 1vw;
    }
    #hackathons .cardHolder .hackathonCards {
        width: 250px;
    }
}
/*for featured section-----------------------------------------------------------------------------------------------*/
@media screen and (max-width : 900px){
    #mainBody {
        flex-wrap: wrap-reverse;
    }
}
@media screen and (max-width : 500px) {
    #featured .featurePosts {
        /*background-color: blue;*/
        width: 80vw;
    }
    #featured .featurePosts .featurePoster .featureImg {
        height: 60vw;
        width: 85vw;
    }
}